/* Contenedor principal */
.producto-detalle-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  /* Estilo de la imagen */
  .producto-imagen {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .producto-imagen img {
    max-width: 100%;
    height: auto;
  }
  
  /* Contenedor de la información */
  .producto-info {
    padding-left: 20px;
  }
  
  /* Títulos y párrafos */
  .producto-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .producto-info p {
    font-size: 16px;
    margin: 5px 0;
    color: #333;
  }
  
  .producto-info .precio-inicial {
    font-weight: bold;
    font-size: 20px;
    color: #d9534f;
  }
  
  /* Contenedor separado para las ofertas */
  .ofertas-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .ofertas-container h3 {
    margin-bottom: 10px;
  }
  
  .ofertas-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .ofertas-container ul li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .ofertas-container ul li:last-child {
    border-bottom: none;
  }
  
/* Contenedor principal para la oferta y botones de retiro */
.ofertar-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Alinea verticalmente */
  gap: 10px; /* Espacio entre los elementos */
}

/* Contenedor de la oferta */
.ofertar {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Estilo para el campo de input de oferta */
.ofertar input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilo compartido para todos los botones */
.ofertar button, .boton-gris, .boton-retirar {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Botón de ofertar */
.ofertar button {
  background-color: rgb(150, 204, 150);
  border: none;
  color: white;
}

/* Botón gris deshabilitado */
.boton-gris {
  background-color: grey;
  color: white;
  cursor: not-allowed;
  border: none;
}

/* Botón de retirar oferta */
.boton-retirar {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.boton-retirar:hover {
  background-color: #f5c6cb;
}

